.postit {
    background-color: #f9f9f9; /* Fondo claro por defecto */
    border: 1px solid #ddd; /* Borde sutil */
    padding: 15px; /* Espaciado dentro del div */
    margin: 10px 0; /* Espaciado entre tareas */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-family: Arial, sans-serif; /* Fuente clara */

}
.tablon {
    grid-template-columns: repeat(auto-fit, minmax(15em,min-content));
}

.color_0 {
    background-color: #FFEB3B; /* Fondo amarillo */
}

.color_1 {
    background-color: #4CAF50; /* Fondo verde */
}

.color_2 {
    background-color: #2196F3; /* Fondo azul */
}

.color_3 {
    background-color: #FF5722; /* Fondo naranja */
}

strong {
    font-size: 1.2em;
}

em {
    font-size: 0.9em;
    color: #555;
}
