@font-face {
    font-family: 'electronic';
    src: url('electronic.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{ 
    margin:0;
    background-color: #444444;
    display:grid;
    grid-template-columns: 1fr; /*una sola columna*/
    grid-template-rows: auto 1fr auto;  /*3 filas, auto para que se ajuste al tamaño que tiene y 1fr será el espacio restante*/
    grid-template-areas:  /*1 columna y 3 filas que serán:*/
        "header"
        "main"
        "footer";
}
header{  /*Encabezado*/
    background-color: #ffaa17;/*#ffc117;     /*color de fondo*/
    grid-area:header;           /*nombro el área para que en grid-template-areas me tome el header como un área*/
    text-align: center;         /*alineación de los elementos*/
    color: white;           /*color de la letra*/
    font-size: 1.5em;       /*tamaño de la letra*/
    display: grid; 
    grid-template-columns: 1fr 2fr;
    justify-items: center;      /*centramos el elemento*/
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    /* Marco de puntos */
    border: 10px dotted #444444; /* Puntos de borde de color gris oscuro */
    padding: 0.8em; /* Espacio entre el contenido y el borde */
}

header img {
    width: 4em;
    height: auto;
    margin-top: 0.7em;
}

.menu-btn {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fe8c42;
  }
  
  .nav {
    grid-area: nav;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold; /*Texto en negrita*/
  }
  
  .nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
  }

h1{ 
    justify-self: left;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'electronic';
}

h2 {
    font-family: "electronic";
}
main{   /*Contenedor de la información importante*/
    grid-area:main;
    display:grid;
    /*grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "calcu rayas"
        "poligonos juego";*/
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 5em;           /*espacio entre contenedores cuando usamos display:grid, para que no se queden pegados*/
    margin: 2em;
    margin-top: 2.5em
}
section{
    text-align: center;
    border-radius: 30px;    /*redondea los bordes*/
    border: solid white 8px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    transition: filter 0.3s, transform 0.3s; /* Transiciones suaves del efecto del ratón*/
}
section img {
    width: 20em;
    height: auto;
}
.main_index section:hover{
    transform: scale(1.10); /*Aumenta un poco el tamaño*/
}
.calcu{
    /*grid-area:calcu;*/  
    background-color: #feda77;
    color:rgb(0, 0, 0)
}
a {
    color:black;
    text-decoration: none;   /*quito el subrayado que sale por defecto*/
}

a:hover{        /*el :hover hace que cuando pase el ratón por encima de ese elemento cambie algo*/
    text-decoration: underline;  /*subraya el texto al pasar el ratón*/
}

.raya{
    /*grid-area:rayas;*/
    background-color: rgb(155, 205, 206);
}
.raya img{
    width: 20em; /*altura*/
    height: auto;
}
.poligonos{
    /*grid-area:poligonos;*/
    background-color: rgb(201, 131, 122);
}
.poligonos img{
    width: 20em;
    height: auto;
}
.juego{
    /*grid-area:juego;*/
    background-color: rgb(161, 206, 155);
}
.juego img{
    width: 20em;
    height: auto;
}
.nota {
    background-color: rgb(192, 155, 206);
}
.rebajas {
    background-color: rgb(209, 138, 88);
}
footer{
    background-color: #444444;
    color: white;
    grid-area:footer;
    text-align: center;
    box-shadow: 2px -5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 1.5em;

}
/*vista de movil*/
@media(max-width: 767px) and (orientation:portrait){
    header {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 8px;
    }
    h1 {
        justify-self: center;
        font-size: 2em;
    }
   main{
    grid-template-columns: 1fr;

    grid-template-areas:
        "calcu"
        "rayas"
        "poligonos"
        "juego";
    grid-template-rows: 1fr 1fr 1fr 1fr;

   }
   header{
    grid-template-columns: 1fr;
   }
}

@media(max-width: 1022px) and (orientation:landscape){

    header {
        padding: 1px;
    }
    h1 {
        font-size: 2em;
    }
    header img {
        width: 3.5em;
        height: auto;
        margin-top: 0.6em;
    }
}

/*vista tablet*/
@media (min-width: 768px) and (max-width: 1024px) and 
(orientation:portrait){
    /*main{
        grid-template-columns: 1fr;
    
        grid-template-areas:
            "calcu"
            "rayas"
            "poligonos"
            "juego";
        grid-template-rows: 1fr 1fr 1fr 1fr;
    
       }*/
    header{
        padding: 0.8em;
    }
}
@media (orientation:landscape) and (max-width: 1280px){

}

/*vista para lectores de pantalla*/
@media speech {

    img {
        display:none;
    }
}

/*****NOTA*****/

.main_nota {
    display:flex;
    justify-content: center;
    align-items: center;
}
.seccion_nota {
    width: 100vh;
    height: 65Vh;
    background-color: rgb(192, 155, 206);
    text-align: center;
    border-radius: 30px;    /*redondea los bordes*/
    border: solid white 8px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

input {
    width: 30%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 2em; /* Espaciado inferior */
    margin-top: 1em;
    border: 1px solid #ccc; /* Borde */
    border-radius: 15px; /* Bordes redondeados */
}

button {
    background-color:#812da0;
    color: white; /* Color del texto */
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 1.2em;
    font-weight: bold;
    transition: font-weight 0.4s;  /* Suaviza la transición */
}

button:hover {
    transform: scale(1.10); /*Aumenta un poco el tamaño*/
    background-color: #350a44;
}

.h2nota {
    font-size: 2.5em;
}

/**REBAJAS**/

.main_rebajas {
    display:flex;
    justify-content: center;
    align-items: center;
}

.seccion_rebajas{
    background-color: rgb(249, 137, 57);
    width: 100vh;
    height: 65Vh;
    
}

.seccion_rebajas button {
    background-color: rgb(15, 97, 135);
}

.seccion_rebajas button:hover {
    background-color: rgb(9, 129, 185);
}

select {
    width: 30%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 2em; /* Espaciado inferior */
    margin-top: 1em;
    border: 1px solid #ccc; /* Borde */
    border-radius: 15px; /* Bordes redondeados */
}
